<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    <title>{% block title %}{% if metaData is defined %}{{ metaData.title }}{% else %}Welcome!{% endif %}{% endblock %}</title>

    {% block css_common %}
        <link href="{{ asset('vendor/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/select2/select2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/select2/select2-bootstrap4.min.css') }}" rel="stylesheet">
    {% endblock %}
    {% block css_page %}{% endblock %}
</head>

<body id="page-top" class="sidebar-toggled">

{{ render(controller('App\\Controller\\Component\\NavBar::indexAction', { 'currentRoute': app.request.get('_route') })) }}

<div id="wrapper">

    {{ render(controller('App\\Controller\\Component\\Menu::indexAction', { 'currentRoute': app.request.get('_route') })) }}

    <div id="content-wrapper">
        <div class="container-fluid">
            {% include 'template/sbadmin_inc/breadcrumbs.html.twig' %}

            {% block body %}{% endblock %}
        </div>

        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    </div>
</div>

{% block js_common %}
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <script src="{{ asset('js/sb-admin.min.js') }}"></script>
    <script src="{{ asset('vendor/select2/select2.full.min.js') }}"></script>
{% endblock %}

{% block js_page %}{% endblock %}

</body>

</html>
