{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-xl-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    {% if error %}
                                        <div class="alert alert-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}
                                    <form method="post">
                                        <div class="form-group">
                                            <input
                                                id="inputEmail"
                                                class="form-control py-4"
                                                value="{{ last_username }}"
                                                name="email"
                                                type="email"
                                                placeholder="Enter email address"
                                                required
                                                autofocus
                                            />
                                        </div>
                                        <div class="form-group">
                                            <input
                                                id="inputPassword"
                                                class="form-control py-4"
                                                name="password"
                                                type="password"
                                                placeholder="Enter password"
                                                required
                                            />
                                        </div>
                                        <div
                                            class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            {#<a class="small" href="password.html">Forgot Password?</a>#}
                                            {#<a class="btn btn-lg btn-block btn-primary" href="index.html">Login</a>#}
                                            <button class="btn btn-lg btn-block btn-primary" type="submit">
                                                Sign in
                                            </button>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
