<h4 class="mx-auto col-lg-6 col-md-12 text-center">Debt create</h4>
<form class="col-xl-12" action="{{ path('debt_create') }}" method="post" onsubmit="ajaxSend(event, this)">
    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebtSum" class="form-control" type="text" name="debt[sum]" autocomplete="off" placeholder="sum" inputmode="numeric">
        <div class="input-group-prepend">
            <label class="input-group-text currency-label" for="inputDebtSum"></label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebtDebtor" class="form-control" type="text" name="debt[debtor]" autocomplete="off" placeholder="debtor">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebtDebtor">#</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputCurrency" class="custom-select currency-selector" name="debt[currency]" autocomplete="off" onchange="refreshCurrencyLabel()">
            {% for currency in currencies %}
                <option
                    value="{{ currency.id }}"
                    data-sign="{{ currency.sign }}"
                    {% if currency.name == app.request.get('c') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ currency.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCurrency">Currency</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebtDate" class="form-control datepicker" type="text" name="debt[date]" autocomplete="off" placeholder="{{ "now"|date("Y-m-d") }}">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebtDate">Date</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('debt_form') }}">

    <div class="input-group col-lg-6 col-md-12 mb-3 mx-auto">
        <button type="submit" class="btn btn-primary btn-block">send</button>
    </div>
</form>
