{% extends 'template/sbadmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" id="form-wrapper"></div>
        {% if debts is empty %}
            <p>No data!</p>
        {% else %}
            <table class="table table-bordered" width="100%" cellspacing="0">
                <tr>
                    <th>Sum</th>
                    <th>Debtor</th>
                    <th>Date</th>
                    <th>Repay with cash</th>
                    <th>Mark as repaid</th>
                </tr>
                {% for debtData in debts %}
                    <tr>
                        <td>{{ debtData.sum | c_number_format }} {{ debtData.currency.sign }}</td>
                        <td>{{ debtData.debtor }}</td>
                        <td>{{ debtData.date | date("Y-m-d") }}</td>

                        {% if debtData.repaid %}
                            <td colspan="2">Repaid - {{ debtData.returnDate | date("Y-m-d") }}</td>

                        {% else %}
                            <td><i data-id="{{ debtData.id }}" class="reply-button reply-button-style fas fa-fw fa-reply"></i></td>
                            <td><i data-id="{{ debtData.id }}" class="check-button reply-button-style fas fa-fw fa-check"></i></td>
                        {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap-datepicker3.standalone.min.css') }}">
    <style>
        .reply-button-style {
            font-size: 1.3rem;
            cursor: pointer;
        }

        .reply-button-style:hover {
            color: red;
        }
    </style>
{% endblock %}

{% block js_page %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $('.reply-button').on('click', function () {
            if (confirm('Are you sure?')) {
                var id = $(this).data('id')
                deleteAction(id, false);
            }
        });

        $('.check-button').on('click', function () {
            if (confirm('Are you sure?')) {
                var id = $(this).data('id')
                deleteAction(id, true);
            }
        });

        var deleteAction = function (id, mark) {
            var url = '/debt/repay/' + id;

            if (mark === true) {
                url += '/mark'
            }

            $.ajax({
                type: 'GET',
                url: url,
            })
                .done(function (data) {
                    console.log(data);
                })
                .fail(function () {
                    alert('fail');
                });
        }

        var fromCall = function (url) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                data: {}
            })
                .done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        insertForm(data);
                        refreshCurrencyLabel();
                        $('.datepicker').datepicker({
                            autoclose: true,
                            clearBtn: true,
                            disableTouchKeyboard: true,
                            startDate: '-1y',
                            endDate: '+1y',
                            format: 'yyyy-mm-dd',
                            todayHighlight: true,
                            weekStart: 1,
                        });
                    }
                });
        };

        var insertForm = function (html) {
            $('#form-wrapper').html(html);
        };

        var ajaxSend = function(e, o) {
            e.preventDefault();
            $('input, select').removeClass('is-invalid');

            var xhrOptions = {
                type: $(o).attr('method'),
                url: $(o).attr('action'),
                data: $(o).serialize()
            };

            $.ajax(xhrOptions)
                .done(function (data) {
                    switch (data.status) {
                        // TODO: hard code
                        case 'ok':
                            onAjaxSuccess();
                            break;

                        case 'validation error':
                            onValidationError(data.errors);
                            break;

                        case 'no entity found':
                            onNoEntityFound(data.errors);
                            break;
                    }
                })
                .fail(function () {
                    alert('fail');
                });
        };

        var onAjaxSuccess = function() {
            $('#form-wrapper').append('<p>Request Success</p>');
        };

        var onValidationError = function(errors) {
            $(errors).each(function(k, v) {
                $('[name="'+v.path+'"]').addClass('is-invalid');
                $('[name="'+v.path+'"]~.invalid-feedback').html(v.message);
            })
        };

        var onNoEntityFound = function(errors) {
            alert('entity ' + errors.entity + ' with id ' + errors.id + ' not found');
        };

        var refreshCurrencyLabel = function () {
            var currencySelector = $('.currency-selector')[0];
            if (currencySelector) {
                $('.currency-label').html($($('.currency-selector')[0].selectedOptions[0]).attr('data-sign'));
            }
        };

        fromCall('/debt/new');
    </script>
{% endblock %}
