{% extends 'template/sbadmin.html.twig' %}

{% block body %}
    <style>
        .click-cell {
            position: relative;
        }

        .click-cell:hover {
            background-color: #35C617;
        }

        .click-cell:hover span {
            display: inline;
        }

        .click-cell span {
            position: absolute;
            right: 5px;
            display: none;
        }

        .total {
            margin: 0;
        }

        .all_total {
            font-size: 0.9rem;
            margin-top: 0.3rem;
            color: #888;
        }
    </style>


    <div class="row" id="form-wrapper">
        <p>form here....</p>
    </div>

    <div class="row">
        <div class="card mb-3 col-lg-6 col-md-12">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Credit
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            {% for key, header in creditData.head %}
                                <th colspan="{{ is_last(key) ? 1 : 2 }}">{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if creditData.body is empty %}
                            <tr>
                                <th class="click-cell add-form" data-url="{{ path('credit_new') }}" colspan="{{ (creditData.head | length - 1) * 2 + 1 }}">No credit data!<span>click to add</span></th>
                            </tr>
                        {% else %}
                            {% for creditByCurrency in creditData.body %}
                                <tr>
                                    {% for key, credit in creditByCurrency %}
                                        {% if credit is null %}
                                            <td colspan="{{ is_last(key) ? 1 : 2 }}"></td>
                                        {% else %}
                                            {% if not is_last(key) %}
                                                <td>{{ credit.sum | c_number_format }}&#160;{{ credit.currency }}</td>
                                                <td>
                                                    <a class="plusLink"
                                                       href="{{ build_query(path('credit_new'), {'c':credit.currency, 't':credit.type}) }}">
                                                        +
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>
                                                    {% if credit.selected_total is defined   %}
                                                        <p class="total">{{ credit.selected_total.sum | c_number_format }}&#160;{{ credit.selected_total.currency }}</p>
                                                    {% endif %}
                                                    <p class="total all_total">{{ credit.all_total.sum | c_number_format }}&#160;{{ credit.all_total.currency }}</p>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-3 col-lg-6 col-md-12">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Debit
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <tbody>
                        {% if debitData is empty %}
                            <tr>
                                <th class="click-cell add-form" data-url="{{ path('debit_new') }}" colspan="3">No debit data!<span>click to add</span></th>
                            </tr>
                        {% else %}
                            {% for debit in debitData %}
                                <tr>
                                    <td>{{ debit.sum | c_number_format }} {{ debit.currency }}</td>
                                    <td>{{ debit.source }} ({{ debit.type }})</td>
                                    <td>
                                        <a class="plusLink"
                                           href="{{ build_query(path('debit_new'), {'c':debit.currency, 's':debit.source, 't':debit.type}) }}">
                                            +
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mb-3 col-md-12">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Capital
            </div>
            <div class="input-group mt-2">
                <div style="display: none" id="locations" data-url="{{ path('capital_location_new') }}" data-form-action="{{ path('capital_location_create') }}">

                    {#<button type="button" class="btn btn-success add-form mr-3" data-url="{{ path('capital_location_new') }}">Add location</button>#}
                </div>

                <button type="button" class="btn btn-success add-form mr-3" data-url="{{ path('capital_location_new') }}">Add location</button>
                <button type="button" class="btn btn-warning add-form" data-url="{{ path('capital_form') }}">Edit capital</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if capitalData is not empty %}
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th colspan="{{ groupedCapitalData | length }}">Total capital</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for groupedCapitalDatum in groupedCapitalData %}
                                    <td>
                                        {{ groupedCapitalDatum.sum | number_format }} {{ groupedCapitalDatum.currency }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}

                    <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th colspan="{{ stateData | length ?: 1}}">Current state</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if stateData is empty %}
                        <tr>
                            <th>No state data!</th>
                        </tr>
                    {% else %}
                        <tr>
                            {% for state in stateData %}
                                <td>{{ state.sum | c_number_format }} {{ state.currency }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <tbody>
                        {% if capitalData is empty %}
                            <tr>
                                <th class="click-cell" colspan="{{ capitalLocationData | length + 1 }}">No capital data!<span>click to add</span></th>
                            </tr>
                        {% else %}
                            <tr>
                                <th>date</th>
                                {% for location in capitalLocationData %}
                                    <th>{{ location | brace_break }}</th>
                                {% endfor %}
                            </tr>
                            {% for date, capitalDayData in capitalData %}
                                <tr>
                                    <th>{{ date }}</th>
                                    {% for capitalDayLocationValues in capitalDayData %}
                                        {% if capitalDayLocationValues is empty %}
                                            <td></td>
                                        {% else %}
                                            <td>
                                                {% for capitalValue in capitalDayLocationValues %}
                                                    {{ capitalValue.sum | c_number_format }}&#160;{{ capitalValue.currency }}
                                                    <br>
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap-datepicker3.standalone.min.css') }}">
{% endblock %}

{% block js_page %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="js/demo/datatables-demo.js"></script>

    <script src="{{ asset('build/locations.js') }}"></script>

    <script>
        $('.plusLink').click(function (e) {
            e.preventDefault();

            url = $(this).attr('href');

            fromCall(url);
        });

        $('.add-form').click(function (e) {
            e.preventDefault();

            url = $(this).attr('data-url');

            fromCall(url);
        });

        var fromCall = function (url) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                data: {}
            })
                .done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        insertForm(data);
                        refreshCurrencyLabel();
                        $('.datepicker').datepicker({
                            autoclose: true,
                            clearBtn: true,
                            disableTouchKeyboard: true,
                            startDate: '-1y',
                            endDate: '+1y',
                            format: 'yyyy-mm-dd',
                            todayHighlight: true,
                            weekStart: 1,
                        });
                        if ($('#inputDebitSource').length) {
                            $('#inputDebitSource').select2({
                                theme: 'bootstrap4',
                                selectOnClose: true,
                                tags: true
                            });
                        }
                        if ($('#inputCreditTag').length) {
                            $('#inputCreditTag').select2({
                                theme: 'bootstrap4',
                                selectOnClose: true,
                                tags: true
                            });
                        }
                    }
                });
        };

        var insertForm = function (html) {
            $('#form-wrapper').html(html);
        };

        var ajaxSend = function(e, o) {
            e.preventDefault();
            $('input, select').removeClass('is-invalid');

            var xhrOptions = {
                type: $(o).attr('method'),
                url: $(o).attr('action'),
                data: $(o).serialize()
            };

            $.ajax(xhrOptions)
                .done(function (data) {
                    switch (data.status) {
                        // TODO: hard code
                        case 'ok':
                            onAjaxSuccess();
                            break;

                        case 'validation error':
                            onValidationError(data.errors);
                            break;

                        case 'no entity found':
                            onNoEntityFound(data.errors);
                            break;
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert('fail');
                });
        };

        var onAjaxSuccess = function() {
            $('#form-wrapper').html('<p>Request Success</p>');
        };

        var onValidationError = function(errors) {
            $(errors).each(function(k, v) {
                $('[name="'+v.path+'"]').addClass('is-invalid');
                $('[name="'+v.path+'"]~.invalid-feedback').html(v.message);
            })
        };

        var onNoEntityFound = function(errors) {
            alert('entity ' + errors.entity + ' with id ' + errors.id + ' not found');
        };

        var refreshCurrencyLabel = function () {
            var currencySelector = $('.currency-selector')[0];
            if (currencySelector) {
                $('.currency-label').html($($('.currency-selector')[0].selectedOptions[0]).attr('data-sign'));
            }
        };
    </script>
{% endblock %}
