{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>
                    <span>You login as</span>
                    {% if not app.user %}
                        Anonymous
                    {% else %}
                        {{ app.user.username }}
                    {% endif %}
                </h1>
            </div>

            {% if not app.user %}
                <a href="{{ path('app_login') }}">Login</a>
            {% else %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}

        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
    </style>
{% endblock %}
