<style>
    .resize-none {
        resize: none;
    }
</style>

<h4 class="mx-auto col-lg-6 col-md-12 text-center">Debit create</h4>
<form class="col-xl-12" action="{{ path('debit_create') }}" method="post" onsubmit="ajaxSend(event, this)">
    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebitSum" class="form-control" type="text" name="debit[sum]" autocomplete="off" placeholder="sum" inputmode="numeric">
        <div class="input-group-prepend">
            <label class="input-group-text currency-label" for="inputDebitSum"></label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputDebitType" class="custom-select" name="debit[type]" autocomplete="off">
            {% for type in types %}
                <option
                    value="{{ type.id }}"
                    {% if type.name == app.request.get('t') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ type.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebitType">Type</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputCurrency" class="custom-select currency-selector" name="debit[currency]" autocomplete="off" onchange="refreshCurrencyLabel()">
            {% for currency in currencies %}
                <option
                    value="{{ currency.id }}"
                    data-sign="{{ currency.sign }}"
                    {% if currency.name == app.request.get('c') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ currency.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCurrency">Currency</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputDebitSource" class="custom-select" name="debit[source]" autocomplete="off" onchange="refreshCurrencyLabel()">
            {% for source in sources %}
                <option
                    value="{{ source.id }}"
                    {% if source.name == app.request.get('s') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ source.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebitSource">Source</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebitDate" class="form-control datepicker" type="text" name="debit[date]" autocomplete="off" placeholder="{{ "now"|date("Y-m-d") }}">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebitDate">Date</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <textarea id="inputDebitDescription" class="form-control resize-none" rows="3" name="debit[description]"></textarea>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputDebitDescription">#</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('debit_form') }}">

    <div class="input-group col-lg-6 col-md-12 mb-3 mx-auto">
        <button type="submit" class="btn btn-primary btn-block">send</button>
    </div>
</form>
