{% extends 'template/sbadmin.html.twig' %}

{% block body %}
    {% if (month is defined and year is defined) %}
        <div class="row">
            {{ render(controller('App\\Controller\\Component\\MonthsNavigator::indexAction', { 'basePath': 'debit_list', 'chosenMonth': month, 'chosenYear': year })) }}
            {{ render(controller('App\\Controller\\Component\\YearsNavigator::indexAction', { 'basePath': 'debit_list', 'chosenMonth': month, 'chosenYear': year })) }}
        </div>
    {% endif %}


    <div class="container">
        <h2>{{ month }}.{{ year }}</h2>
        {% if debits is empty %}
            <p>No data!</p>
        {% else %}
            <table class="table table-bordered" width="100%" cellspacing="0">
                <tr>
                    <th>Sum</th>
                    <th>Source (Type)</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
                {% for debitData in debits %}
                    <tr>
                        <td>{{ debitData.sum | c_number_format }} {{ debitData.currency }}</td>
                        <td>{{ debitData.source }} ({{ debitData.type }})</td>
                        <td>{{ debitData.date }}</td>
                        <td> <i data-id="{{ debitData.id }}" class="delete-button fas fa-fw fa-trash"></i> </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block css_page %}
    <style>
        .delete-button {
            font-size: 1.3rem;
            cursor: pointer;
        }

        .delete-button:hover {
            color: red;
        }
    </style>
{% endblock %}

{% block js_page %}
    <script>
        $('.delete-button').on('click', function () {
            if (confirm('Are you sure?')) {
                var id = $(this).data('id')
                deleteAction(id);
            }
        });

        var deleteAction = function (id) {
            $.ajax({
                type: 'GET',
                url: '/debit/delete/' + id,
            })
                .done(function (data) {
                    console.log(data);
                })
                .fail(function () {
                    alert('fail');
                });
        }
    </script>
{% endblock %}
