<style>
    .resize-none {
        resize: none;
    }
</style>

<h4 class="mx-auto col-lg-6 col-md-12 text-center">Credit create</h4>
<form class="col-xl-12" action="{{ path('credit_create') }}" method="post" onsubmit="ajaxSend(event, this)">
    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputCreditSum" class="form-control" type="text" name="credit[sum]" autocomplete="off" placeholder="sum" inputmode="numeric">
        <div class="input-group-prepend">
            <label class="input-group-text currency-label" for="inputCreditSum"></label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputCreditTag" class="custom-select" name="credit[tag]" autocomplete="off" >
            {% for tag in tags %}
                <option value="{{ tag }}">
                    {{ tag }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCreditTag">#</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputCreditType" class="custom-select" name="credit[type]" autocomplete="off">
            {% for type in types %}
                <option
                    value="{{ type.id }}"
                    {% if type.name == app.request.get('t') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ type.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCreditType">Type</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <select id="inputCurrency" class="custom-select currency-selector" name="credit[currency]" autocomplete="off" onchange="refreshCurrencyLabel()">
            {% for currency in currencies %}
                <option
                    value="{{ currency.id }}"
                    data-sign="{{ currency.sign }}"
                    {% if currency.name == app.request.get('c') %}
                        selected="selected"
                    {% endif %}
                >
                    {{ currency.name }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCurrency">Currency</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputCreditDate" class="form-control datepicker" type="text" name="credit[date]" autocomplete="off" placeholder="{{ "now"|date("Y-m-d") }}">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCreditDate">Date</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <textarea id="inputCreditDescription" class="form-control resize-none" rows="3" name="credit[description]"></textarea>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputCreditDescription">#</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('credit_form') }}">

    <div class="input-group col-lg-6 col-md-12 mb-3 mx-auto">
        <button type="submit" class="btn btn-primary btn-block">send</button>
    </div>
</form>
