{% extends 'template/sbadmin.html.twig' %}

{% block body %}
    {% if (month is defined and year is defined) %}
        <div class="row">
            {{ render(controller('App\\Controller\\Component\\MonthsNavigator::indexAction', { 'basePath': 'credit_list', 'chosenMonth': month, 'chosenYear': year })) }}
            {{ render(controller('App\\Controller\\Component\\YearsNavigator::indexAction', { 'basePath': 'credit_list', 'chosenMonth': month, 'chosenYear': year })) }}
        </div>
    {% endif %}

    <div class="container">
        <h2>{{ month }}.{{ year }}</h2>
        <div class="row" id="form-wrapper"></div>
        <button type="button" class="btn btn-success add-form my-3" data-url="{{ path('credit_new') }}">New</button>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#yearList" aria-expanded="false" aria-controls="collapseExample">
            Year list
        </button>

        <div class="collapse" id="yearList">
            {{ render(controller('App\\Controller\\CreditController::yearListAction', { 'year': year })) }}
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="table-responsive">
                    <div id="spreadsheet-main">No data</div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="table-responsive">
                    <div id="spreadsheet-detail" data-delete-url="{{ path('credit_delete', {id: '00'}) }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css_page %}
    <link href="{{ asset('vendor/jexcel/css/jsuites.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/jexcel/css/jexcel.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap-datepicker3.standalone.min.css') }}">
{% endblock %}

{% block js_page %}
    <script src="{{ asset('vendor/jexcel/js/jsuites.js') }}"></script>
    <script src="{{ asset('vendor/jexcel/js/jexcel.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap-datepicker.min.js') }}"></script>

    <script>
        var credits = JSON.parse('{{ credits | raw }}');

        if (credits !== null && credits.groupedData.length !== 0) {
            $('#spreadsheet-main').html('');
            var table = jexcel(document.getElementById('spreadsheet-main'), {
                data: credits.groupedData,
                colWidths: credits.colWidths,
                contextMenu: function () {
                    return null;
                },
                onselection: function (instance, x1, y1, x2, y2) {
                    if (x1 === x2 && y1 === y2) {
                        var column = '_' + String(x1) + String(y1);
                        var columnMetaData = table.getMeta(column);

                        if (typeof (columnMetaData) !== 'undefined' && typeof (columnMetaData.detailKey) !== 'undefined') {
                            showDetail(columnMetaData.detailKey, columnMetaData.title);
                        }
                    }
                },
                editable: false,
                rowResize: false,
                columnResize: false,
                columnDrag: true,
                colHeaders: credits.colHeaders,
                nestedHeaders: credits.nestedHeaders,
                meta: credits.metaData,
            });
        }

        var detail = JSON.parse('{{ creditsDetail | raw }}');

        var showDetail = function (hashKey, title) {
            if (Array.isArray(detail[hashKey].detailData) && detail[hashKey].detailData.length !== 0) {
                $('#spreadsheet-detail').html('');
                var detailTable = jexcel(document.getElementById('spreadsheet-detail'), {
                    data: detail[hashKey].detailData,
                    colWidths: [100, 100, 100],
                    contextMenu: function (obj, x, y, e) {
                        var items = [];

                        items.push({
                            title: 'detele',
                            onclick:function() {
                                if (confirm('Are you sure?')) {
                                    var columnMetaData = detailTable.getMeta(y);
                                    deleteAction(columnMetaData.id);
                                }
                            }
                        });

                        return items;
                    },
                    editable: false,
                    rowResize: false,
                    columnResize: false,
                    columnDrag: true,
                    colHeaders: ['sum', 'date', 'description'],
                    nestedHeaders: [
                        [
                            {title: title, colspan: '3'},
                        ],
                    ],
                    meta: detail[hashKey].metaData,
                });
            }
        };

        var deleteAction = function (id) {

            var url = $('#spreadsheet-detail').data('delete-url').replace('00', id);

            $.ajax({
                type: 'GET',
                url: url,
            })
                .done(function (data) {
                    console.log(data);
                })
                .fail(function () {
                    alert('fail');
                });
        };

        $('.add-form').click(function (e) {
            e.preventDefault();

            url = $(this).attr('data-url');

            fromCall(url);
        });

        var fromCall = function (url) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                data: {}
            })
                .done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        insertForm(data);
                        refreshCurrencyLabel();
                        $('.datepicker').datepicker({
                            autoclose: true,
                            clearBtn: true,
                            disableTouchKeyboard: true,
                            startDate: '-1y',
                            endDate: '+1y',
                            format: 'yyyy-mm-dd',
                            todayHighlight: true,
                            weekStart: 1,
                        });
                        if ($('#inputDebitSource').length) {
                            $('#inputDebitSource').select2({
                                theme: 'bootstrap4',
                                selectOnClose: true,
                                tags: true
                            });
                        }
                        if ($('#inputCreditTag').length) {
                            $('#inputCreditTag').select2({
                                theme: 'bootstrap4',
                                selectOnClose: true,
                                tags: true
                            });
                        }
                    }
                });
        };

        var insertForm = function (html) {
            $('#form-wrapper').html(html);
        };

        var ajaxSend = function(e, o) {
            e.preventDefault();
            $('input, select').removeClass('is-invalid');

            var xhrOptions = {
                type: $(o).attr('method'),
                url: $(o).attr('action'),
                data: $(o).serialize()
            };

            $.ajax(xhrOptions)
                .done(function (data) {
                    switch (data.status) {
                        // TODO: hard code
                        case 'ok':
                            onAjaxSuccess();
                            break;

                        case 'validation error':
                            onValidationError(data.errors);
                            break;

                        case 'no entity found':
                            onNoEntityFound(data.errors);
                            break;
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert('fail');
                });
        };

        var onAjaxSuccess = function() {
            $('#form-wrapper').html('<p>Request Success</p>');
        };

        var onValidationError = function(errors) {
            $(errors).each(function(k, v) {
                $('[name="'+v.path+'"]').addClass('is-invalid');
                $('[name="'+v.path+'"]~.invalid-feedback').html(v.message);
            })
        };

        var onNoEntityFound = function(errors) {
            alert('entity ' + errors.entity + ' with id ' + errors.id + ' not found');
        };

        var refreshCurrencyLabel = function () {
            var currencySelector = $('.currency-selector')[0];
            if (currencySelector) {
                $('.currency-label').html($($('.currency-selector')[0].selectedOptions[0]).attr('data-sign'));
            }
        };
    </script>
{% endblock %}
