<style>
    .total {
        margin: 0;
    }

    .all_total {
        font-size: 0.9rem;
        margin-top: 0.3rem;
        color: #888;
    }
</style>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                {% for key, header in creditData.head %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% if creditData.body is empty %}
                <tr>

                </tr>
            {% else %}
                {% set currentMonth = 0 %}
                {% for month, creditByMonth in creditData.body %}
                    {% for creditByCurrency in creditByMonth %}
                        <tr>
                            {% if currentMonth != month %}
                                <td rowspan="{{ creditByMonth | length }}">{{ month }}</td>
                            {% endif %}
                            {% set currentMonth = month %}

                            {% for key, credit in creditByCurrency %}
                                {% if credit is null %}
                                    <td></td>
                                {% else %}
                                    {% if not is_last(key) %}
                                        <td>{{ credit.sum | c_number_format }}&#160;{{ credit.currency }}</td>
                                    {% else %}
                                        <td>
                                            {% if credit.selected_total is defined   %}
                                                <p class="total">{{ credit.selected_total.sum | c_number_format }}&#160;{{ credit.selected_total.currency }}</p>
                                            {% endif %}
                                            <p class="total all_total">{{ credit.all_total.sum | c_number_format }}&#160;{{ credit.all_total.currency }}</p>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
