<div id="months" class="row col-lg-9 col-xl-7">
    <div class="mx-auto">
        {% for monthNumber in 1..12 %}
            {% if monthNumber == chosenMonth %}
                <a class="btn btn-success m-1">{{ monthNumber }}</a>
            {% else %}
                <a class="btn btn-primary m-1" href="{{ build_month_link(path(basePath), monthNumber, chosenYear) }}">{{ monthNumber }}</a>
            {% endif %}

            {% if monthNumber == 6 %}
                <br class="d-md-none">
            {% endif %}
        {% endfor %}
    </div>
</div>

<style>
    #months a {
        display: inline-block;
        color: #fff;
        line-height: 2;
        padding: 0;
        width: 2.25rem;
        height: 2.25rem;
    }
</style>
