<style>
    .state-block {
        position: absolute;
        padding: 0.5rem 1rem;
        top: 0;
        color: #aaaaaa;
        white-space: nowrap;
        width: 100%;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {#<a class="navbar-brand mr-1" href="{{ path('homepage') }}">MoneyLog</a>#}

    <button class="btn btn-link btn-sm text-white" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-arrow mx-1 position-relative">
            <a class="nav-link dropdown-toggle" href="#" id="currencyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas">_{{ stateData.shown.currency_sign ?: stateData.shown.currency }}</i> : {{ stateData.shown.sum | c_number_format }}
            </a>

            <div class="state-block bg-dark">
                <div class="cursor-pointer" data-toggle="collapse" data-target="#collapse-state-block" role="button" aria-expanded="false"><i class="fas">{{ stateData.shown.currency_sign ?: stateData.shown.currency }}</i> : {{ stateData.shown.sum | c_number_format }}</div>
                {% if stateData.hidden is defined %}
                    <div class="collapse" id="collapse-state-block">
                        {% for state in stateData.hidden %}
                            <i class="fas">{{ state.currency_sign ?: state.currency }}</i> : {{ state.sum | c_number_format }} <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </li>

        {#<li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>#}
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>
