<ul class="sidebar navbar-nav toggled">
    {% for item in menuItems %}
        <li class="nav-item{% if item.active == true %} active{% endif %}{% if item.type == 'multi' %} dropdown{% endif %}">
            {% if item.type == 'single' %}
                <a class="nav-link" href="{{ item.url }}">
                    <i class="fas fa-fw {{ item.icon }}"></i>
                    <span>{{ item.name }}</span>
                </a>
            {% endif %}
            {% if item.type == 'multi' and item.items is not empty %}
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-{{ item.name }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>{{ item.name }}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-{{ item.name }}">
                    {% for subitem in item.items %}
                        <a class="dropdown-item" href="{{ subitem.url }}">{{ subitem.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
