{% if years is not empty %}
    <div id="years" class="row col-lg-3 col-xl-5">
        <div class="dropdown show mx-auto mx-lg-0">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                year
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for year in years %}
                    <a
                        class="dropdown-item{% if year == chosenYear %} disabled{% endif %}"
                        href="{{ build_month_link(path(basePath), chosenMonth, year) }}"
                    >
                        {{ year }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<style>
    #years .dropdown-item.disabled {
        font-weight: bold;
        background-color: #dbdbdb;
    }
</style>
