<!DOCTYPE html>
<html>
    <head>
        {% block meta %}{% endblock %}
        <title>{% block title %}{% if metaData is defined %}{{ metaData.title }}{% else %}Welcome!{% endif %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
