{% extends 'template/sbadmin_react.html.twig' %}
{% block body %}
    <div id="main" data-init="{{ initData }}"></div>
{% endblock %}

{% block css_page %}
    <link href="{{ asset('build/plans.css') }}" rel="stylesheet">
{% endblock %}

{% block js_page %}
    <script src="{{ asset('build/plans.js') }}"></script>
{% endblock %}