.state-block {
    position: absolute;
    padding: 0.2rem 1rem;
    top: 30px;
    left: -6px;
    color: #aaaaaa;
    white-space: nowrap;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}
