.edit-table {
    flex-direction: column;
    height: 236px;
}

.edit-table > div {
    flex: 1 1 38px;
}

.edit-table .sub {
    padding: 5px 1px;
    text-align: center;
}

div[id*="noty_"] {
    transform: none !important;
}

#years .dropdown-item {
    cursor: pointer;
}

#years .dropdown-item.disabled {
    font-weight: bold;
    background-color: #dbdbdb;
    color: #6c757d;
    pointer-events: none;
}

#plans-main .ui.progress {
    margin-top: 0;
    margin-bottom: 0.75em;
}

#plans-main .progress-bar-title {
    margin: 0;
}
