<h4 class="mx-auto col-lg-6 col-md-12 text-center">Edit Capital</h4>
<div class="table-responsive">
<form class="col-xl-12" action="{{ path('capital_create') }}" method="post" onsubmit="ajaxSend(event, this)">
    <table class="table table-bordered">
        <tr class="bordered">
            <th>Currency</th>
            {% for location in capital_locations %}
                <th>{{ location.name }}</th>
            {% endfor %}
        </tr>
        {% for currencyName, dataByCurrency in stateData %}
            <tr class="bordered">
                <th>{{ currencyName }}</th>
                {% for dataByLocation in dataByCurrency %}
                    <td><input class="form-control" type="text" name="capital{{ dataByLocation.key }}" value="{{ dataByLocation.sum }}" autocomplete="false" inputmode="numeric"></td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="submit-row">
            <td colspan="{{ capital_locations|length + 1}}">
                <button type="submit" class="btn btn-primary">Submit</button>
            </td>
        </tr>
    </table>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('capital_form') }}">
</form>
</div>
