<h4 class="mx-auto col-lg-6 col-md-12 text-center">Capital location create</h4>
<form class="col-xl-12" action="{{ path('capital_location_create') }}" method="post" onsubmit="ajaxSend(event, this)">
    <div class="input-group mb-3 mx-auto col-lg-6 col-md-12">
        <input id="inputDebitSum" class="form-control" type="text" name="location[name]" autocomplete="off" placeholder="name">
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('location_form') }}">

    <div class="input-group col-lg-6 col-md-12 mb-3 mx-auto">
        <button type="submit" class="btn btn-primary btn-block">send</button>
    </div>
</form>
